.header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid hsla(210, 16%, 93%, 1);
  background-color: hsla(252, 24%, 96%, 1);
  border-radius: 10px 10px 0 0;
  display: flex;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
}

.headerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 135px;
}

.header th:first-child {
  border-top-left-radius: 10px;
}

.header th:last-child {
  border-top-right-radius: 10px;
}
