.header {
  margin-left: 19px;
  margin-right: 16px;
  width: 431px;
  height: 40px;
  border-bottom: 2px solid #22242c; //комм это линии между хэдером
  background: linear-gradient(145.94deg, #1d2023 1.45%, #22242c 93.91%);
  border-radius: 12px 12px 0px 0px;
  display: flex;
}

.row {
  min-width: 431px;
  min-height: 40px;
  display: flex;
}

.headerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 150px;
  background: #17181c;
}

.header th:first-child {
  border-top-left-radius: 10px;
}

.header th:last-child {
  border-top-right-radius: 10px;
}
