@use '../../../assets/styles/colors';

.input {
  color: white;
  font-size: 16px;
  height: 44px;
  padding: 0 16px;
  background: #17181c;
  border: 1px solid rgba(255, 255, 255, 0.15);

  &__align-left {
    text-align: left;
  }
  &__align-center {
    text-align: center;
  }
  &__align-right {
    text-align: right;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.input-border {
  &__common {
    width: 320px;
    border-radius: 100px;
  }
  &__chipRevert {
    width: 122px;
    border-radius: 0px 30px 30px 0px;
  }
}

.input:focus-visible {
  outline: none;
  border-bottom: 1px solid colors.$brand;
  padding: 0px;
  &::placeholder {
    opacity: 0;
  }
}

.input::placeholder {
  text-align: left;
}
