@use '../../assets/styles/colors';

.button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__brand {
    width: 280px;
    height: 56px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: colors.$brand;
    box-shadow: 0px 4px 13px rgba(81, 83, 205, 0.42);
  }

  &__ghost {
    background-color: transparent;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.button-color {
  &__brand {
    background-color: colors.$brand;
  }

  &__error {
    background-color: colors.$error;
  }

  &__glass {
    background-color: colors.$glass;
  }
}
