@use '../../assets/styles/colors';

.button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__brand {
    width: 280px;
    height: 56px;
    background-color: colors.$brand;
    box-shadow: 0px 4px 13px rgba(81, 83, 205, 0.42);
  }
  &__chip {
    width: 120.03px;
    height: 40px;
    border-radius: 30px 0px 0px 30px;
  }
  &__chipRevert {
    width: 120.03px;
    height: 40px;
    border-radius: 0px 30px 30px 0px;
  }
  &__delete {
    width: 196px;
  }
  &__ghost {
    background-color: transparent;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.button-color {
  &__brand {
    background-color: colors.$brand;
  }

  &__error {
    background-color: colors.$error;
  }

  &__glass {
    background-color: colors.$glass;
  }
  &__dark {
    background-color: colors.$dark;
  }
}
