.ButtonIconWrapper {
  position: relative;
}
.FootButtonIcon {
  position: absolute;
  top: 80px;
  left: 160px;
}
.ElipseBrandIcon {
  position: absolute;
  top: 55px;
  left: 199px;
}
.WhitePlusIcon {
  position: absolute;
  top: 72px;
  left: 216px;
}
