@use '../../assets/styles/colors';

.input {
  color: #ffffff;
  font-size: 16px;
  width: 480px;
  height: 44px;
  padding: 8px 53px 8px 16px;
  background: #17181c;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
}

.input__error {
  border-color: colors.$error;
}

.inputErrorText {
  position: absolute;
  width: 230px;
  height: 42px;
  left: 965px;
  top: 277px;
  margin-top: -8px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(252, 69, 91, 0.8);
  border-radius: 24px 24px 24px 0px;
}

.input::placeholder {
  color: colors.$secondary;
}

.input:focus-visible {
  outline: none;
  border-color: colors.$brand;
}

.labelWrapper {
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
}

.inputWithButtonWrapper {
  position: relative;
}
