.wrapper {
  width: 100%;
  padding-right: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.operateButtonsWrapper {
  width: 219px;
  display: flex;
  justify-content: space-between;
}
.addButtonWrapper {
  width: 308px;
  height: 40px;
  background: #17181c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 12px 12px;
  position: relative;
}
.plusIcon {
  position: absolute;
  left: 221px;
  top: 14px;
}
