.wrapper {
  width: 466px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 24px;
}

.iconsWrapper {
  position: relative;
}

.addButtonsWrapper {
  position: absolute;
  bottom: 40px;
}
