@use '../../../../assets/styles/colors';

.body {
  width: 100%;
  max-height: 420px;
  border-radius: 0 0 10px 10px;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
}
.rowsWrapper {
  height: 240px;
  overflow: auto;
}
.row {
  width: 100%;
  background: #17181c;
  max-width: 431px;
  min-height: 40px;
  border-top: 2px solid #22242c;
  display: flex;
  margin-left: 19px;
  margin-right: 16px;
}

.cell {
  flex-basis: 150px;
}

.cellItem {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
