$brand: hsl(239, 82%, 65%);
$primary: hsl(252, 13%, 40%);
$secondary: hsla(240, 8%, 75%, 1);
$default: hsla(251, 7%, 45%, 1);
$contrast: hsla(0, 0%, 100%, 1);
$error: hsla(0, 79%, 63%, 1);
$success: hsla(147, 67%, 47%, 1);
$glass: hsla(252, 45%, 98%, 1);
$dark: hsl(228, 10%, 10%);
$white: #ffffff;
