.headerWrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.categoryItem {
  min-width: 240px;
  display: flex;
  background: #17181c;
  border-bottom: 2px solid #22242c;
}
.categoryHeaderItem {
  min-width: 240px;
  display: flex;
  background: #17181c;
  border-bottom: 2px solid #22242c;
  border-radius: 12px 12px 0px 0px;
}
.categoryItemColumn {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 11px;
}
.categorySumColumn {
  width: 100%;
}
.categoryHeaderSumColumn {
  width: 100%;
  border-right: 20px;
}

.rightColumnItem {
  height: 40px;
}
